@model CallOfDuty.Lib.UserProfile
@{
    ViewBag.Title = "Home Page";
}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script>
    $(document).ready(function () {
        console.log("test")
        $.post("/Home/GetRecentMatches", { username: "Cronotrigga8", days: 7 })
            .then(function (data) {

                var data = data.MatchData;
                console.log(data)

                Highcharts.chart('container', {

                    title: {
                        text: 'Recent match statistics'
                    },

                    yAxis: {
                        title: {
                            text: 'Value',
                            tickLength: 1
                        }
                    },
                    xAxis: {
                        tickLength: 1
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle'
                    },

                    plotOptions: {
                        series: {
                            label: {
                                connectorAllowed: false
                            },
                            pointStart: 0,
                            step:1
                        }
                    },

                    series: [{
                        name: "Assits",
                        data: data.Matches.map(function (x, i) {
                            return x.MatchPlayer.Awards.Assists
                        })
                    }, {
                        name: "Longest KillStreak",
                        data: data.Matches.map(function (x, i) {
                            return x.MatchPlayer.Awards.LongestKillstreak
                        })
                    }],

                    responsive: {
                        rules: [{
                            condition: {
                                maxWidth: 500
                            },
                            chartOptions: {
                                legend: {
                                    layout: 'horizontal',
                                    align: 'center',
                                    verticalAlign: 'bottom'
                                }
                            }
                        }]
                    }

                });

            });
    });
</script>
<div class="row">
    <div class="col-lg-12">
        <h2>Player Stats Lookup</h2>
        <div class="form-group">
            <input type="text" class="form-control" value="YOUTUBE__Kor3aYn" id="search" />
            <button class="btn btn-default">Search...</button>
        </div>
        <div id="container"></div>
    </div>
</div>